@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

.info-board {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(66, 95, 84);

    samp {
        color: aquamarine;
    }

    b {
        color: beige;
        font-size: larger;
    }
}


.game {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card-board {
    border-top: 3px solid gray;
    padding: 5px;
    display: flex;
    justify-content: center;

}

.game-info {
    width: 100%;
    height: 40%;
    background-color: rgb(133, 92, 245);

    padding: 9px;
    margin-top: 1%;
}

.game-info legend {
    font-size: larger;
    color: rgb(252, 252, 252);
}



/*                table            */

table {
    border-collapse: collapse;
    border: 2px solid rgb(26, 22, 22);
    font-family: sans-serif;
    width: 80%;
    margin: auto;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(34, 33, 33);

}

td:last-of-type {
    text-align: center;
}



tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

/*                end table               */


.button-board {
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}


.playButton {
    padding: 20px 5px 20px 5px;
    border-radius: 5px;
    color: bisque;
    font-size: large;
    transition: 0.2s;
}

.playButton:hover {
    color: rgb(205, 255, 255);
    scale: 1.1;
}

.button {
    padding: 5px 15px 5px 15px;
    background-color: lightgray;
    border-radius: 3px;
    transition: 0.5s;
}

.black {
    background-color: black;
    padding: 15px 5px 15px 5px;
    color: aliceblue;
}

.red {
    background-color: brown;
    padding: 15px 5px 15px 5px;
    color: azure;
}

.betButtons {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.info-text {
    text-align: center;
    margin-bottom: 3%;
    font-family: 'rubik vinyl';
    letter-spacing: 2px;
    color: rgb(0, 247, 255);
}

.game-pic {
    font-size: 60px;
    color: rgb(162, 230, 241);
}

.section {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

@media(max-width: 1160px) {

    .button {
        padding: 2px;
    }

    .playButton {
        padding: 15px 5px 15px 5px;
    }

    .black,
    .red,
    .get,
    .double {
        padding: 10px 2px 10px 2px;
    }

}

@media(max-width: 694px) {

    .section {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-bottom: 25px;
    }

    .betButtons {
        row-gap: 15px;
    }
}

@media(max-width: 390px) {

    .playButton {
        padding: 10px 3px 10px 3px;
    }

    .black,
    .red,
    .get,
    .double {
        padding: 6px 1px 6px 1px;
    }
}

@media(max-width: 361px) {

    .button {
        padding: 0px;
    }

    .playButton {
        padding: 7px 2px 7px 2px;
    }

    .black,
    .red,
    .get,
    .double {
        padding: 5px 1px 5px 1px;
    }

}

@media only screen and (max-height: 300px) {
    .section {
        display: flex;
        flex-direction: row;
        row-gap: 10px;
        margin-bottom: 2px;
    }

    .betButtons {
        row-gap: 1px;
    }

    .playButton {
        padding: 4px 1px 4px 1px;
    }
}

@media only screen and (max-height: 920px) {
    .game-info {
        height: 80%;
    }

    table {
        height: 90%;
    }
}

@media only screen and (max-height: 720px) {
    .game-info {
        display: none;
    }
}