.cards {
    display: flex;
    column-gap: 30px;
}

.cards img {
    max-width: 150px;
    display: flex;
    flex-direction: column;

}

.cards section button {
    width: 150px;
    margin-top: 5px;
    padding: 5px;
}

.single-cart {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


@media(max-width: 1160px) {

    .cards img,
    .cards button {
        max-width: 120px;
    }
}

@media(max-width: 980px) {

    .cards img,
    .cards button {
        max-width: 110px;
    }

    .cards {
        column-gap: 20px;
    }
}

@media(max-width: 864px) {

    .cards img,
    .cards button {
        max-width: 90px;
    }
}

@media(max-width: 735px) {

    .cards img,
    .cards button {
        max-width: 80px;
    }

    .cards {
        column-gap: 10px;
    }
}

@media(max-width: 610px) {

    .cards img,
    .cards button {
        max-width: 60px;
    }

    .cards img {
        height: 130px;
    }

    .cards {
        column-gap: 10px;
    }
}

@media(max-width: 478px) {

    .cards img {
        margin-left: 5px;
        width: 45px;
        height: 100px;

    }

    .cards section button {
        margin-left: 8px;
        max-width: 40px;
        padding: 0 2px 0 2px;
    }
}

@media(max-width: 390px) {

    .cards img {
        margin-left: 3px;
        width: 40px;
        height: 100px;

    }

    .cards button {
        margin-left: 2px;
        max-width: 35px;
    }
}

@media(max-width: 360px) {

    .cards img {
        margin-left: 5px;
        width: 35px;
        height: 100px;

    }

    .cards button {
        margin-left: 8px;
        max-width: 30px;

    }
}