.cards {
    display: flex;
    column-gap: 30px;
}

.cards img {
    max-width: 150px;
    display: flex;
    flex-direction: column;
}

.cards section button {
    width: 150px;
    padding: 5px;
    color: aliceblue;
    transition: 0.3s;
}

.single-cart {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}



.double {

    flex-wrap: nowrap;
    overflow: hidden;
}

.react-card-flip {
    flex: 0 0 auto;
    margin-left: -120px;
}

.react-card-flip:first-child {
    margin-left: 0;
}

/* Медийни заявки с общи правила */
@media(max-width: 1160px) {

    .cards img,
    .cards button {
        max-width: 110px;
    }

    .react-card-flip {
        margin-left: -100px;
    }
}

@media(max-width: 980px) {

    .cards img,
    .cards button {
        max-width: 110px;
    }

    .cards {
        column-gap: 20px;
    }


}

@media(max-width: 864px) {

    .cards img,
    .cards button {
        max-width: 90px;
    }

    .react-card-flip {
        margin-left: -80px;
    }
}

@media(max-width: 735px) {
    .cards img {
        height: 150px;
    }

    .cards button {
        max-width: 90px;
    }

    .cards {
        column-gap: 15px;
    }
}

@media(max-width: 630px) {
    .cards img {
        height: 150px;
        max-width: 80px;
    }

    .cards button {
        max-width: 80px;
    }

    .cards {
        column-gap: 10px;
    }

    .single-cart {
        row-gap: 10px;
    }

    .react-card-flip {
        margin-left: -60px;
    }
}

@media(max-width: 558px) {
    .cards img {
        height: 130px;
        max-width: 70px;
    }

    .cards button {
        max-width: 70px;
    }

    .cards {
        column-gap: 10px;
    }
}

@media(max-width: 494px) {
    .cards img {
        height: 120px;
        max-width: 60px;
    }

    .cards button {
        max-width: 60px;
    }

    .cards {
        column-gap: 12px;
    }

    .react-card-flip {
        margin-left: -50px;
    }
}

@media(max-width: 425px) {
    .cards img {
        margin-left: 1px;
        width: 45px;
        height: 100px;
    }

    .cards button {
        max-width: 50px;
    }

    .cards {
        column-gap: 10px;
    }

    .single-cart {
        row-gap: 5px;
    }

    .react-card-flip {
        margin-left: -35px;
    }
}

@media(max-width: 364px) {
    .cards img {
        margin-left: 2px;
        width: 48px;
        height: 100px;
    }

    .cards button {
        max-width: 50px;
    }

    .cards {
        column-gap: 10px;
    }
}

@media(max-width: 345px) {
    .cards img {
        margin-left: 0px;
        width: 40px;
        height: 90px;
    }

    .cards button {
        max-width: 40px;
        font-size: smaller;
    }

    .cards {
        column-gap: 13px;
    }
}

/* Медийни заявки за височина */
@media only screen and (max-height: 300px) {
    .cards img {
        margin-left: 2px;
        width: 60px;
        height: 50px;
    }

    .cards button {
        max-width: 60px;
        height: 26px;
        padding: 0;
    }

    .cards {
        column-gap: 23px;
    }
}

@media only screen and (max-height: 885px) {
    .single-cart {
        row-gap: 2px;
    }

    .cards button {
        font-size: 10px;
    }
}