.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: azure;
    background-color: #3C433B;
    padding: 0 30px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}
.header__nav p{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header__logo  {
   color: #fff;
   text-decoration: none;
   font-size: larger;
}

.header__menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;

}

.header__item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bolder;
}

.header__item-cart {
    background-color: rgb(23, 189, 111);
    padding: 10px;
    border-radius: 15px;
    color: #000;
}

.header__burger {
    display: none;
    font-size: 2rem;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .header__burger {
        display: block;
    }

    .header__menu {
        display: none;
        flex-direction: column;
        position: absolute;
        height: 100vh;
        top: 50px;
        right: 0;
        left: 0;
        background-color: #3C433B;
        padding: 10px 0;
    }

    .header__menu-open {
        display: flex;
    }

    .header__nav {
        width: 100%;
        padding: 0 15px;
    }
}

body.scroll-lock {
    overflow: hidden;
}