.nav-container {
    background-color: lightgray;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.nav-container p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.reset-button {
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    background-color: rgb(0, 10, 102);
    color: aliceblue;
}

.save-game-button {
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    background-color: rgb(5, 73, 35);
    color: aliceblue;
}