* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: rgb(212, 228, 241);
}

button {
   cursor: pointer;
}

.game-board {
   border: 2px solid gray;
   background-color: rgb(171, 177, 177);
   height: 85vh;
   width: 70vw;
   min-width: 80%;
   margin: auto;
   margin-top: 10px;
   border-radius: 10px;
   box-shadow: 1px 2px 10px 3px rgb(54, 54, 56);
}

.play-board {
   width: 95%;
   margin: auto;
   margin-top: 10px;
   padding: 10px;
   height: 80%;
   border: 3px solid black;
   border-radius: 10px;
}

