* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 
}

body{
   background-color: rgb(196, 195, 195);
}
button {
   cursor: pointer;
}

.game-board {
 
   height: 85vh;
   width: 70vw;
   min-width: 80%;
   margin: auto;
   margin-top: 10px;
   border-radius: 10px;

   display: flex;
   flex-direction: column;
  
}

.play-board {
   width: 95%;
   margin: auto;
   margin-top: 10px;
   padding: 10px;
   height: 80%;
  
   border-radius: 10px;
  
}


@media(max-width: 720px) {
.game-board {
      
      height: 88vh;
      width: 90vw;

   }
}

@media(max-width: 720px) {
   .game-board {

      height: 88vh;
      width: 100vw;

   }
}
